# IDEAs
/.idea
.vscode/launch.json
.vscode/mcp.json
.vscode/settings.json

# FHIR publisher specific
# igs/imaging-r4/**
# igs/imaging-r5/**
igs/imaging-r4/output/**
igs/imaging-r5/output/**

subigs/**
ig-test
.vscode/settings.json

build-logs/**

igs/imaging-r4/output-stable/**
igs/imaging-r5/output-stable/**

output/codesystem-list.csv
/output
