/.idea
.vscode/launch.json
.vscode/mcp.json
input-cache/
output/
temp/
template/
fsh-generated/**
ig-template/**/*.db
ig-template/**/*index.json
publisher.jar
translations/**

subigs/**
ig-test
.vscode/settings.json

build-logs/**

igs/imaging-r4/output-stable/**
igs/imaging-r5/output-stable/**
